.gameMenuBlock {
  margin-bottom: 2em;
  height: 12.5em;
  display: flex;
  align-items: center;
}

.gameBtn {
  cursor: pointer;
  width: 12.5em;
  height: 3.2em;
  margin-right: 2em;
  background-color: blue;
  border-radius: 5px;
  color: white;
  font-size: 1.37em;
  font-weight: 600;
}
.gameBtn:disabled {
  background-color: rgba(49, 49, 49, 0.6);
  cursor: not-allowed;
}

.select {
  cursor: pointer;
  height: 2.5em;
  width: 12.5em;
  font-size: 1.2em;
}
.select:disabled {
  cursor: not-allowed;
}
